  <!-- <ul class="header-inner clearfix ng-scope"> -->
  <style>
    .header-1 {
      margin: 0px;
      padding: 5px;
      background-color: white;
      border-radius: 30px 30px 30px 0px;
      width: 450px;
      height: 70px;
    }
    .header-2 {
      margin: 0px;
      padding: 5px 40px 5px 0px;
      padding-right: 40px;
      /* border: solid; */
      /* background-color: yellow; */
      width: 100%;
      height: 70px;
      /* line-height: 70px; */
      float: right;
    }
    .imagen-logo {
      height: 100%;
      border-radius: 10px;
    }
    .header-4 {
      /* margin: 5px 20px 0px 20px; */
      margin-top: 5px;
      padding: 0px;
      /* background-color: white; */
      border-radius: 0px 0px 30px 30px;
      /* width: 430px; */
      border-bottom: solid;
      border-color: #2b78e4;
      /* weight: 90px; */
      height: 40px;
      line-height: 30px;
      color: #2b78e4;
      font-weight: 750;
      background: white;
      font-size: 15px;
    }
    .header-5 {
      /* weight: 20px; */
      margin: 0px;
      margin-top: 5px;
      padding: 0px 20px;
      /* float: left; */
      /* border: solid; */
    }
  </style>
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="col-md-4 p-0 m-0">
      <div class="header-1" align="center">
        <a><img src="imagenes/PROMETEO-gif.gif" alt="prometeo" class="imagen-logo"></a>
      </div>
    </div>
    <div class="col-md-6 header-2">
      <!-- <a><img src="imagenes/logo-pucp-blanco.png" alt="prometeo" class="imagen-logo" style="float: right;"></a> -->
    </div>
    <div class="col-md-2 header-2">
      <a><img src="imagenes/logo-pucp-blanco.png" alt="prometeo" class="imagen-logo" style="float: right;"></a>
    </div>
  </div>
  <div class="row-md-12 header-4">
    <div class="header-5 float-left" align="center">
      ROLES:
    </div>
    <div class="header-5 float-left" style="border-right: solid;" align="center" ng-repeat="rol in rCtrl.usuario.roles">
      <a href="" ng-click="rCtrl.cargarPestana(rol)">{{rol.descripcion}}</a>
    </div>
    <div class="header-5 float-right" align="center">
      <a href="" ng-click="rCtrl.logOut()"><i class="fa fa-sign-out-alt"></i></a>
    </div>
    <div class="header-5 float-right" style="border-right: solid;" align="center">
      {{rCtrl.usuario.codigo}}
    </div>
    <div class="header-5 float-right" style="border-right: solid; border-left: solid;" align="center">
      {{rCtrl.usuario.nombreCompleto}}
    </div>
  </div>
